# OS X
.DS_Store

# Build - OS X
*.o
*.a
*.jnilib

# MSVC stuff
*.sdf
*.opensdf
*.suo
*.vcxproj.user
ipch
x64
Release
Debug

# fuzzy_patcher
fuzzy_patcher/ipch
fuzzy_patcher/x64
fuzzy_patcher/Release
fuzzy_patcher/Debug

# Eclipse stuff
java/.metadata

# Java project
java/gui/src/res/native
java/gui/.git
java/gui/build
java/gui/.gradle
java/gui/.idea

# jsyringeapi
jsyringeapi/test

mux_redux/idevicerestore_root
