[submodule "syringe"]
	path = syringe
	url = git://github.com/msftguy/syringe.git 
[submodule "xpwn"]
	path = xpwn
	url = git://github.com/msftguy/xpwn.git 
[submodule "mux_redux/idevicerestore"]
	path = mux_redux/idevicerestore
	url = https://github.com/libimobiledevice/idevicerestore
